<div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-8 col-md-6 col-lg-5">
        <div class="card my-5 bg-light">
          <div class="title">
            <h3 class="text-center pb-0 pt-4">Login</h3>
          </div>
          <div>
            <p class="text-center text-danger" *ngIf="serverError">Invalid Username or Password</p>
          </div>
          <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
              <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" formControlName="username">
                <div *ngIf="loginForm.get('username')!.invalid && loginForm.get('username')!.touched" class="text-danger">
                  Username is required
                </div>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password">
                <div *ngIf="loginForm.get('password')!.invalid && loginForm.get('password')!.touched" class="text-danger">
                  Password is required
                </div>
              </div>
              <div class="mb-3 text-center">
                <button type="submit" class="btn btn-primary w-100" [disabled]="loginForm.invalid">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  